.menu__link {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #151515;
    text-decoration: none;
    padding: 16px 0 17px 0;
    margin: 0;
    width: 135px;
}

.menu__link:hover {
 text-shadow: 3px 3px 3px #00000057;
}

.menu__activ {
    width: 135px;
    border-radius: 45px;
    color: #fff;
    background:#b5abf7;
}